.pages {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons {
    height: 25px;
    width: 80px;
    background-color: #fff;
}