.userBlock {
    width: 320px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.text {
    text-transform: uppercase;
    font-weight: 200;
}

.buttonBlock {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

