.header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #247ff1;
}

.headerWrap {
    margin: 0 auto;
    width: 1350px;
}

.text {
    margin-left: 20px;
    color: white;
    font-size: 20px;
    transition: 0.2s;
}

.text:hover {
    color: silver;
    transition: 0.2s;
}