.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

.text {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
}